a
{
	color:rgba(254, 244, 244, 0.58);
}

body 
{
  background-color: rgba(92, 90, 90, 0.12);
  border: 0;
  font-size: 16px;
  font: inherit;
  margin:32px;
  vertical-align: baseline;
}

code pre
{
	background-color: rgba(254, 254, 244, 0.58); ;
	border:1px solid #D7D8C8;
	font: inherit;
	margin: 0 3em;
	overflow: auto;
	padding: .5em;
  	overflow-y: hidden;
  	word-wrap:normal;

}
h1
{	
	text-align: center;
}
h2
{
	text-align:center;
}
h3
{
	border-bottom: 1px solid #ccc;
}
nav {
	background-color:#B22222;
	color: #FDFDFB;
  	width:170px;
  	float:left;
  	position:fixed;
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 34px 25px 22px 50px;
	margin: 30px 25px 0 0;
	-webkit-font-smoothing: antialiased;
}
samp pre
{
	background-color: rgba(254, 244, 244, 0.58); ;
	border:1px solid #D7D8C8;
	margin: 0 3em;
	overflow: auto;
	padding: .5em;
  	overflow-y: hidden;

}
section
{
	
	margin:0 0 0 30%;
	width: 70%;
}

@media print, screen and (max-width:906px)
{
	nav
	{
	float:none;
    position:static;
    width:auto;
	}
	section
	{
		margin: 0;
		width:auto;
	}
}